@charset "utf-8";
/* GLOBAL */

.template-img {
  background-image: url(../images/skills/skills.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.template-img-0 {
  border: 5px solid whitesmoke;
  background-image: url(../images/skills/skillsimg.jpg);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 80.041%;
  margin: auto auto 150px auto;
  visibility: hidden;
}
