@charset "utf-8";
/* GLOBAL */

.template-img {
  background-image: url(../images/home/home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Scroll */

#site {
  padding-bottom: 175px;
}

#site h3 {
  margin-left: 5%;
}

#s4 {
  height: 280px;
  width: calc(992px - 46.02%);
  margin: 4% auto auto calc(987px - 95%);
  display: inline-block;
  background-color: rgb(251, 251, 238);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url(../images/template/text.jpg);
  background-size: 100% 100%;
  position: relative;
  z-index: 999;
}

#close {
  float: right;
  margin: 1.25% 2.5% 0 0;
  padding: 2.5px 5px;
  font-size: x-small;
  color: black;
  border: 1px solid black;
  border-radius: 100px;
  opacity: 0.15;
}

#s5 {
  width: calc(992px - 73.991%);
  height: 250px;
  float: right;
  padding: 5%;
  border: 5px solid whitesmoke;
  margin-right: calc(987px - 95%);
  visibility: hidden;
  position: relative;
}

#s5 a {
  position: absolute;
  top: 10px;
  left: 30px;
  color: black;
  font-size: x-large;
}

#s5 a:hover {
  color: whitesmoke;
  text-decoration: none;
}

#s51 {
  display: block;
  background-image: url(../images/home/global.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#s52 {
  background-image: url(../images/home/candid.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#s53 {
  background-image: url(../images/home/rec.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#s54 {
  background-image: url(../images/home/tafe.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#s55 {
  background-image: url(../images/home/pff.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#s56 {
  background-image: url(../images/home/sc.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#ob0 {
  height: 50%;
  margin: 13% 0;
  padding: 0 7px 0 40px;
  position: relative;
  color: rgb(65, 147, 188);
  text-align: left;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-color: black rgb(251, 175, 93);
  scrollbar-width: thin;
  font-size: large;
  word-wrap: break-word;
  visibility: hidden;
}

#ob0 h4 {
  margin: 2% 0;
  padding: 0;
}

#ob0::-webkit-scrollbar {
  width: 7px;
}

#ob0::-webkit-scrollbar-thumb {
  background: rgb(251, 175, 93);
}

#ob0::-webkit-scrollbar-track {
  background: black;
}

#ob0::-webkit-scrollbar-thumb:hover {
  background: rgb(251, 175, 93);
}

#home-div {
  background-image: url(../images/home/equal.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  height: 60px;
  margin: 8.7% auto;
  opacity: 0.65;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  #site h3 {
    font-size: large;
  }

  #s4 {
    float: none;
    display: block;
    width: 100%;
    height: 140px;
    margin: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #s5 {
    float: none;
    display: block;
    width: 90%;
    height: initial;
    margin: auto;
    right: 0;
    border-top: 5px solid rgb(251, 175, 93);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  #ob0 {
    border-left: none;
    display: inline-block;
    margin: 12.5px auto;
    height: calc(100% - 45px);
    width: 88%;
    padding: 10px 6% 10px 6%;
    font-size: initial;
  }

  #ob0 ol li h4 {
    font-size: large;
  }

  #ob0 ul li {
    padding: 0 40px;
  }

  #s5 a {
    top: 5px;
    font-size: small;
  }

  #s51,
  #s52,
  #s53,
  #s54,
  #s55,
  #s56 {
    background-size: 47%;
    padding: 23%;
  }

  #close {
    float: none;
    position: absolute;
    z-index: 99;
    right: 25px;
    bottom: -35px;
    margin: 0;
  }

  #home-div {
    display: block;
  }

  .template-div {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 20%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #s5 {
    width: calc(40% - 10px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
  }

  #close {
    bottom: initial;
    top: 15px;
  }
}

@media only screen and (max-width: 320px) {
  #s5 a {
    top: 2.5px;
    font-size: xx-small;
  }
}

@media only screen and (max-width: 240px) {
  #s5 a {
    top: 0;
  }
}
